@charset="utf-8";

@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body {

    font-family: 'PT Sans', sans-serif;
}

.bg-fundo {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("Imagens/Fundo_Login.png");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.3;
    z-index: -1;
}

.content-wrapper{
    z-index: 1; /* ou mais */
}

header {
    background-color: #2826C9;
    position: fixed;
    width: 1400px;
    margin: -15px;
    height: 67px;
    margin-bottom: 15px;
}

.logo {
  position: absolute;
  width: 160px;
  height: 20;
  margin-top: 10px;
  margin-left: 50px;
}

ul {
    display: block;
    list-style: none;
     margin-left: 250px;
     padding: 11px;
}

li {
    display: inline;
    text-transform: uppercase;
    margin-left: 15px;
    font-size: 13pt;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

form.formCadastrarUsuario {
    margin-top: 60px;
    position: absolute;
}

form.formLogin {
        position: absolute;
        top: 250px;
        left: 550px;
}

.bordaLogin{
  position: absolute;
  background-color: black;
  width: 320px;
  height: 360px;
  opacity: 0.3;
  z-index: -1;
  margin: 150px 500px 0px;
  border-radius: 10px;
  overflow: hidden;
}

label{
  font-weight: bold;
  color: blue;
  left: 20px;
}

input{
  border-radius: 5px;
}

.B.entrar {
  position: absolute;
  margin-left: 500px;
}
.esqueceuSenhalogin{
  position: absolute;
  color: grey;
  top: 360px;
  left: 550px;
  font-size: 12px;
}
.botaoEntrar{
  position: absolute;
  font-weight: bold;
  color: Blue;
  top: 410px;
  left: 700px;
  cursor: pointer;
}
