@charset="utf-8";
table {
    text-align: center;
    font-weight: bolder;
    width: 300px;
}
table tr.fundo {
    background-color: #dddddd;
}
table td.vermelho {
    color:red;
}
table span.normal {
    font-weight: normal;
}
table td.verde {
    color:green;
}