@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Condensed');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');
p {
    text-align: justify;
    text-indent: 50px; 
}

a {
text-decoration: none;
color: #606060;
}
a:hover {
    text-decoration: underline;
    color: #528CE0;}
body {
    background-color: grey;
    color: rgba(0, 0, 0, 1);
    font-family: Arial,sans-serif;}
nav.menu ul{
list-style: none;
text-transform: uppercase;
display: block;
position: absolute;
top: -20px;
left: 850px;
}
section.corpo h1 {
    font-size: 14pt;
    background-color: #dddddd;
}
nav.menu li {
    display: inline-block;
    background-color: #dddddd;
    padding: 10px;
    margin: 2px;
    transition: background-color 0.5s;
    transition:
}
nav.menu h1{
    display: none;
}
nav.menu li:hover {
    background-color: #606060;
}
nav.menu a {
    color: black;
    transition: color 0.4s;
    text-decoration: none;
}
nav.menu a:hover{
    color: white;
    text-decoration: underline;
}
div.interface {
    width: 1250px;
    background-color: #ffffff;
    margin: -20px auto 0px auto;
    padding: 10px;
    box-shadow: none, none, 10px black;
    border: 5px black;
}
header.cabecalho img.icone {
    position: absolute;
    width: 300px;
    left: 900px;
    top: 55px;
}
header.cabecalho {
    border-bottom: 1px #606060 solid;
    height: 150px;
    background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 100px;
}
    
header.cabecalho h2{
    font-family: 'Titillium Web', sans-serif;
    color:#808080;
    font-size: 15pt;
    text-shadow: black;
    margin-top: 20px;
    margin-left: 40px;
}
header.cabecalho img.logo {
    width: 250px;
    margin-bottom: -20px;
    margin-left: 30px;
}
footer.rodape {
    clear: both;
    border-top: 1px solid #606060;
    margin: 1px;
}
footer.rodape p {
        text-align: center;
}
footer.rodape img {
    width: 25px;
    margin-top: 3px;
}
/* ACIMA CONFIGURAÇÃO DE RODAPÉ E CABEÇALHO, QUE VÃO EM TODAS AS PÁGINAS*/
section.corpo {
    display: block;
    width: 760px;
    float: left;
    border-right: 1px solid #606060 ;
    padding: 6px;
}
div.comentario {
    font-size: 10pt;
}
/* CONFIGURAÇÃO DA DISCIPLINAS  (ADM  DE REDES, COMUNICAÇÃO E EXPRESSÃO E LÓGICA DE PROGRAMAÇÃO)*/
aside.lateral {
    display: block;
    width: 450px;
    float: right;
    background-color: #dddddd;
    padding: 6px;
}
aside.lateral h1 {
    font-family: FonteLogo,sans-serif;
    font-size: 25px;
    color: #606060;
    margin-left: 15px;
}
aside.lateral h2 {
    background-color: #606060;
    color: #ffffff;
    padding: 0px 0px 0px 63px;
    font-size:12pt;
}
img.mapa {
    width: 400px;
}
/* CONFIGURAÇÃO DO INDEX */
section.corpo-noticias {
    display: block;
    width: 800px;
    float: left;
    padding: 6px;
}
section.corpo-noticias h1 {
    background-color: FonteLogo;
    font-family: 'Titillium Web';
    font-size: 35pt;    
    margin-bottom: -5px; 
    background-color: #dddddd;
    width: 890px; 
    padding: 3px; 
}
section.corpo-noticias img {
    width: 500px;
}
section.corpo-noticias h2 {
    font-family: 'Titillium Web';
    font-size: 22pt;
    margin: auto auto -3px 5px;
}
section.corpo-noticias h3 {
    font-family: arial,sans-serif;
    font-size: 11pt;
    margin:-3px auto auto 5px;
    font-weight: normal;
}
/* CONFIGURAÇÃO NOTÍCIAS*/ 
section.corpo-si li {
    padding: 10px;
    margin: 2px;
    text-align: center;
    font-family: 'Poiret One', cursive;
    font-size: 90px;
}
section.corpo-si {
    display: block;
    padding: 6px;
}
section.corpo-si h1 {
    font-size: 30px;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    text-align: center;
}
section.corpo-si h2{
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
}
section.corpo-si img {
    width: 1000px;
    margin: 10px;
    margin-left: 60px;
    position: center;
}
section.corpo-si ul {
    list-style: none
}
/* CONFIGURAÇÃO S.I*/
table {
    border-collapse: collapse;
    background-color: #D7DADD;
}
table th {
    font-size: 13pt;
    font-weight: normal;
}
/* CONFIGURAÇÃO DAS TABELAS*/