<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Formularios</title>
        <link rel="stylesheet" href="/static/estilo.css"/>
    </head>

<body>
  <section class="full_page_cad_usu">
      <section>
          <header>
              <nav>
                  <div>
                      <img class="logo" src="css/Imagens/logo-novo.png" alt="logo">
                  </div>
                  <ul>
                      <li><a href="Index.html">Home</a></li>
                      <li><a href="Lista_de_curso.html">Lista de cursos</a>
                          <ul class="Lista_curso">
                            <li><a href="Administracao.html">Administração</a></li>
                            <li><a href="Sistemas_informacao.html">Sistema de informação</a></li>
                            <li><a href="Rede_computadores.html">Redes de computadores</a></li>
                          </ul>
                      </li>
                      <li><a href="Noticias.html">Noticias</a></li>
                      <li><a href="Contato.html">Contato</a></li>
                  </ul>
                  <ul>
                      <li><a href="#">Cadastro</a>
                          <ul>
                              <li><a href="Login.html">Login</a></li>
                              <li><a href="Recuperar_senha.html">Recuperar Senha</a></li>
                              <li><a href="Cadastrar_usuario.html">Cadastrar</a></li>
                              <li><a href="Cadastrar_disciplina.html">Cadastrar Disciplina</a></li>
                          </ul>
                      </li>
                  </ul>
              </nav>
          </header>
      </section>

        <section class="corpo_cad_usuario">
          <div class="cad_usuario">
          <form method="get" action="">

            <div class="titulo_cadastro">
              <h2>Cadastro</h2>
            </div>

            <div class="dados_pessoais">
              <div class="nome">
                <div class="">
                  <label for="nome">Nome</label>
                  <input type="text" name="nome" id="nome">
                </div>

                <div class="">
                  <label class="segundo" for="sobrenome">Sobrenome</label>
                  <input class="segundo" type="text" name="sobrenome" id="sobrenome"><br><br>
                </div>
             </div>

             <div class="n2">
               <div class="">
                 <label for="telefone">telefone</label>
                 <input type="tel" name="telefone" id="telefone" ><br><br/>
               </div>

               <div class="">
                 <label for="nascimento">nascimento</label>
                 <input type="date" name="nascimento" id="nascimento" ><br><br>
               </div>

               <div class="">
                 <label for="sexo">Sexo:</label>
                 <input type="radio" name="sexo" id="sexo">  Feminino
                 <input type="radio" name="sexo" id="sexo">  Masculino<br><br>
               </div>
             </div>
            </div>

            <div class="endereco">
              <div class="endereco_1">
                <div class="">
                  <label for="estado">Estado</label>
                  <input type="text" name="estado" id="estado" ><br><br>
                </div>

                <div class="">
                  <label for="cidade">Cidade</label>
                  <input type="text" name="cidade" id="cidade" ><br><br>
                </div>

                <div class="">
                  <label for="bairro">Bairro</label>
                  <input type="text" name="bairro" id="bairro" ><br><br>
                </div>
              </div>

              <div class="endereco_2">
                <div class="">
                  <label for="endereço">Endereço</label>
                  <input type="text" name="endereço" id="endereço" ><br><br>
                </div>

                <div>
                  <label for="número">Número</label>
                  <input type="text" name="número" id="número" ><br><br>
                </div>
              </div>
            </div>

            <div class="info_curso">
              <div class="info_curso_1">
                <div class="">
                  <label for="Login">Login</label>
                  <input type="email" name="Login" id="login"><br><br>
                </div>

                <div class="">
                  <label for="senha">senha</label>
                  <input type="password"  id="senha" ><br><br>
                </div>
              </div>

              <label for="email">email</label>
              <input type="email" name="email" id="email"><br><br>

              <div class="info_curso_2">
                <div class="">
                  <label for="curso">curso</label>
                  <input type="text" name="curso" id="curso" ><br><br>
                </div>

                <div class="">
                  <label for="RA">RA</label>
                  <input type="number" name="RA" id="RA" ><br><br>
                </div>
              </div>
            </div>
            <input class="enviar" type="submit" name="enviar" value="enviar">
          </form>
        </div>
    </section>
      <section class="rodape">
         <footer class="rodape">
             <img class="logo" src="css/Imagens/logo-novo.png">
             <p>Av. Rudge, 315 - Bom Retiro, São Paulo - SP, 01133-000</p>
         </footer>
     </section>
  </section>
</body>
</html>
