<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8"/>
    <title>Graduação em redes de computadores</title>
    <link rel="stylesheet" href="/static/estilo.css"/>
</head>
    <body>
      <section class="full_page">
		    <section>
            <header>
                <nav>
                    <div>
                        <img src="/static/imagens/logo-novo.png">
                    </div>
                    <ul>
                        <li><a href="Index.html">Home</a></li>
                        <li><a href="Lista_de_curso.html">Lista de cursos</a>
                            <ul class="Lista_curso">
                              <li><a href="Administracao.html">Administração</a></li>
                              <li><a href="Sistemas_informacao.html">Sistema de informação</a></li>
                              <li><a href="Rede_computadores.html">Redes de computadores</a></li>
                            </ul>
                        </li>
                        <li><a href="Noticias.html">Noticias</a></li>
                        <li><a href="Contato.html">Contato</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">Cadastro</a>
                            <ul>
                                <li><a href="Login.html">Login</a></li>
                                <li><a href="Recuperar_senha.html">Recuperar Senha</a></li>
                                <li><a href="Cadastrar_usuario.html">Cadastrar</a></li>
                                <li><a href="Cadastrar_disciplina.html">Cadastrar Disciplina</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </header>
        </section>
<section class="corpo">

<h1>Graduação em Redes de Computadores</h1>

<h3>Sobre o Curso:</h3></p>

	<p>Com o curso de Redes de Computadores você estará preparado para analisar,
	projetar, instalar e administrar soluções para sistemas eficientes
	e seguros em projetos de redes locais e de longa distância.</p>

	<p>Você terá uma visão abrangente da área, aprendendo os conceitos em laboratório,
	desenvolvendo as habilidades de diagnóstico, implementação e administração
	de infraestrutura e serviços de redes. No curso, você ainda se prepara
	para o mercado com noções de gestão, trabalho em equipe e visão empreendedora.

	</p>

	Périodo: &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; Duração:
	Matutino / Noturno&emsp;&emsp;&emsp;&emsp;&emsp; 4 semestres

<h3>Grade do Curso:</h3>
	<p><TABLE BORDER=2 CELLPADDING=2>
		<TR>
		<TH ROWSPAN=2> 1ºSemestre</TH>
		<TD><a href="Administracao_de_redes.html">Administração de Redes e Sistemas</a></TD><TD>Cabeamento Estruturado</TD><TD>Comunicação e Expressão</TD></TR>
		<TR><TD>Arquitetura de Redes de Computadores</TD><TD>Introdução a Internet das Coisas - IoT</TD><TD>Programação para Redes</TD>
		</TR>

		<TR>
		<TH ROWSPAN=2> 2ºSemestre</TH>
		<TD>Administração de Redes e Sistemas</TD><TD>Gestão de Projetos</TD><TD>Oficina de Projeto de Empresa 1 - OPE1</TD></TR>
		<TR><TD>Gestão de TI</TD><TD>Ambiente de Desenvolvimento e Operação - DevOps</TD><TD>Redes de Longa Distância</TD><p></p>
		</TR>

		<TR>
		<TH ROWSPAN=2> 3ºSemestre</TH>
		<TD>Comunicação de Dados</TD><TD>Diagnóstico e Gerenciamento de Redes</TD><TD>Redes Convergentes</TD></TR>
		<TR><TD>Legislação e Ética</TD><TD>Oficina de Projeto de Empresa 2 - OPE2</TD><TD>Segurança em Sistemas</TD>
		</TR>

		<TR>
		<TH ROWSPAN=2> 4ºSemestre</TH>
		<TD>Auditoria e Controle em TI</TD><TD>Computação em Nuvem</TD><TD>Comunicações Móveis</TD></TR>
		<TR><TD>Redes IPV6</TD><TD>Oficina de Projeto de Empresa 3 - OPE3</TD><TD>Serviços de Redes de Computadores</TD>
		</TR>

		</TABLE></p>

</section>
<section class="rodape">
   <footer class="rodape">
       <img class="logo" src="/static/imagens/logo-novo.png">
       <p>Av. Rudge, 315 - Bom Retiro, São Paulo - SP, 01133-000</p>
   </footer>
</section>
</section>

</body>
</html>
